.img-thumbnail, .thumbnail, productsViewMain {
    -webkit-box-shadow: none;
    border: none;
    box-sizing: border-box;
    width: 300px;
    height: 285px;
    padding: 30px;
    margin: 4px 0 4px 20px;
}

.nameBrandSpanMain{
    margin-left: 60px;
}

.thumbnail a>img, .thumbnail>img {
    width: 260px;
    height: 200px;
}

.spanBrand{
    text-align: center;
    border: solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.productPhoto{
    position: relative;
}

.bestWell{
    margin-bottom: 90px;
}
