.stars {
    background: #ffffff;
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: -31px;
    margin-bottom: 10px;
}

.stars input{
    position: absolute;
    left: -99999px;
}

.stars label{
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
}

.stars label::before{
    content: '☆';
    color: #ffa500;
    font-size: 30px;
    line-height: 30px;
    margin-right: -100%;
}


.starLabel:hover::before,
.starLabel:hover ~ label::before, 
.stars input:checked ~ label::before {
    color: #ffa500;
    content: '★';
}


