/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

.navbar-brand > img{
    display: block;
    width: 300px;
    margin: -94px 10px 0 -83px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.nav>li>a {
    color: black;
    font-size: 1.5em;
    margin-left: 50px;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.productComment {
    position: absolute;
    margin-top: -20px;
    box-sizing: border-box;
    border: solid;
}

@media only screen and (max-width: 1600px){
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      min-width: 70%;
      margin: auto;
      min-height: 300px;      
    }
.nav>li>a {
    color: black;
    font-size: 1.5em;
    margin-left: -1px;
}
}

@media only screen and (min-width: 992px) {
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      min-width: 60%;
      margin: 0 auto;
      min-height: 450px;     
    }
.nav>li>a {
    color: black;
    font-size: 1.5em;
    margin-left: 60px;
}
}

.descriptionMain{
    margin: auto 0 15px 0;
    float: left;
    font-size: 1.5em;
    border: solid;
    border-radius: 8px;
    border-color: lightgray;
}

.allProductsH3{
    text-align: center;
    background-color: #FFDA58;
    max-width: 40%;
    margin-left: 300px;
    border: solid #FFDA58;
    border-radius: 8px;
}

.btn-success{
   
    background-image: linear-gradient(to bottom, #FFC600 0,#FFDA58 100%);
    border-color: #FFDA58;
    min-width: 20%;
    color: white;
    padding: 10px;
    float: right;
    margin: 10px auto 20px;
    
}

.btn-success:focus, .btn-success:hover{
    background-color: #FFC600;
    border: #FFC600;
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover{
   background-image: linear-gradient(to bottom, #FFC600 0,#FFC600 100%);
    background-color: #FFC600;
    border-color: #FFC600;
}

.headerRanking{

    text-align: center;
    border: solid #FFDA58;
    border-radius: 8px;
    background-color: #FFDA58;
    color: black;
}

.form-control, .searchForm{
    height: 50px;
}

.pScore{
    border: solid #FFDA58;
    font-size: 1em;
    font-weight: 700;
}

.productImg{
    box-sizing: border-box;
    width: 290px;
    height: 230px;
    padding: 30px;
    margin-left: -70px;
}

.footer{
/*    padding-top: 16px;*/
	padding-right: 0;
	padding-left: 0;	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;
    text-align: right;
    margin: -4px 25px
    
}
}

.well, .wellAdd{
    margin-bottom: 200px;
    padding: 40px;
}

.starAddedMsg{
    font-size: 1em;
    margin-top: -200px;
}

.productMainDiv{
    margin-left: 430px;
}





