<div class="jumbotron">

  <h2> *Star Foods - internetowy ranking produktów spożywczych </h2>
  <hr>
    
    <input type="text" my-on-key-down-call="callRestService()">  
  <p> Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników.  </p>

</div>
