<div class="jumbotron">

  <h2> *Star Foods - internetowy ranking produktów spożywczych </h2>
  <hr>
     <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    <div> 
    <input type="text" class="searchengine" ng-model="userInput"/>  
        
    <button class="btn btn-success m-t-30 nput-group-btn" type="submit" ng-click="search()">Szukaj </button>
         
    </div> 
    
    <div>  
        <li ng-repeat="product in products"> 
            <a href="/#!show/{{ product.id}}"> {{product.name}} </a>
        </li>
    </div>


  
    
    
    
    <p> Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników. Star Foods to ranking produktów spożywczych, który opiera się
  na ocenach naszych użytkowników.  </p>

</div>
