<div class="col-lg-12">
    <p> {{message}} </p>
    <h3 class="allProductsH3">Wszystkie produkty: </h3>
    <div>
        <ul>
            <li class=" col-lg-3 col-md-4 col-sm-6 thumbnail  " ng-repeat="product in products | orderBy: 'name'">
                <a href="/#!show/{{ product.id}}">
                    <p class="spanBrand"> {{product.name}} {{product.brand}} </p><img class=" productPhoto" ng-src="{{product.image}}" alt="starfoods" /> </a>

            </li>

        </ul>


    </div>
</div>
