<div class="well">
    
    <div class="row">
    <div class="col-md-6">
        <h2> {{product.name}}</h2>
        <img src ="{{product.image}}" />
        <p> {{product.comment}} </p>
        
        <div class="stars">
        
        <label for="star1"> One Star </label>
        <input type="radio" id="star1" name="star" value="1">
            
        <label for="star2"> Two Stars </label>
        <input type="radio" id="star2" name="star" value="2">
            
        <label for="star3"> Three Stars </label>
        <input type="radio" id="star3" name="star" value="3">
            
        <label for="star4"> Four Stars </label>
        <input type="radio" id="star4" name="star" value="4">
            
        <label for="star5"> Five Stars </label>
        <input type="radio" id="star5" name="star" value="5">
        
        </div>
        
        </div>
    
    </div>
</div>