<div class="well">
    
    <div class="row">
    <div class="col-md-6">
        <h2> {{product.name}}</h2>
        <h4> Ocena produktu: {{product.score | number:1}}</h4>
        <img src ="{{product.image}}"/>
        <p> {{product.comment}} </p>
        
        <div class="stars">
            
            <input type="radio" id="star5" name="star" value="5" ng-click="stars()"> 
            <label class="starLabel" for="star5"> Five Stars </label>         
            <input type="radio" id="star4" name="star" value="4" ng-click="stars()">
            <label class="starLabel" for="star4"> Four Stars </label>       
            <input type="radio" id="star3" name="star" value="3" ng-click="stars()">
            <label class="starLabel" for="star3"> Three Stars </label>         
            <input type="radio" id="star2" name="star" value="2" ng-click="stars()">
            <label class="starLabel" for="star2"> Two Stars </label>         
            <input type="radio" id="star1" name="star" value="1" ng-click="stars()">
            <label class="starLabel" for="star1"> One Star </label>  
                         
        </div>
        
        <p>{{ message }}</p>
                
        </div>
    
    </div>
</div>